body {
    background: white;
    font: normal normal 15px Segoe, "Segoe UI", Calibri, Helmet, FreeSans, Sans-Serif;
}

ul {
    list-style-type: none;
    margin: 0 0 0 15em;
    padding: 0;
    list-style: none;
    color: #369;
    position: relative;
}

.tree:before,
.tree ul:before {
    content: "";
    display: block;
    width: 0px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    border-left: 1px solid;
    background: white;
    z-index: -1;
}

.tree li {
    font-weight: bold;
    line-height: 3em;
    margin: 0;
    padding: 1.5em 0 0 2em;
    position: relative;
}

.tree li:before {
    border-top: 1px solid;
    content: "";
    display: block;
    height: 100%;
    left: 0;
    margin-top: 1em;
    position: absolute;
    top: 1.5em;
    width: 2em;
}

.tree li:last-child:before {
    background: white;
    bottom: 0;
    height: auto;
    top: 1.5em;
}

.tree>li:before {
    border-top: none !important;
}

.tree li .box {
    border-radius: 5px;
    border: 1px solid #afafaf;
    margin: 0;
    max-width: 15em;
    min-width: 15em;
    padding: 0.25em 0.5em;
    background: white;
    box-shadow: 1px 1px 4px #8f949a;
    color: #369;
    font-weight: bold;
}

ul.tree {
    margin-left: 0px;
}

ul.tree:before {
    border-left: none;
}

.box {
    display: flex;
    width: 100%;
}

.left {
    float: left;
    width: 75%;
    line-height: 0.5;
}

.right {
    float: right;
    width: 25%;
    display: flex;
    justify-content: end;
}

.ticket {
    color: red;
    line-height: 0;
    text-align: center;
}

button {
    cursor: pointer;
    margin-top: 10px;
    background-color: white;
    color: #369;
    border: 2px solid #369;
    font-size: 26px;
    transition-duration: 0.4s;
    height: 38px;
}

button:hover {
    background-color: #369;
    color: white;
}

.member{
    margin-top: 15px;
}

.quantity {
 display: inline-block; }

.quantity .input-text.qty {
 width: 35px;
 height: 39px;
 padding: 0 5px;
 text-align: center;
 background-color: transparent;
 border: 1px solid #efefef;
}

.quantity.buttons_added {
 text-align: left;
 position: relative;
 white-space: nowrap;
 vertical-align: top; }

.quantity.buttons_added input {
 display: inline-block;
 margin: 0;
 vertical-align: top;
 box-shadow: none;
}

.quantity.buttons_added .minus,
.quantity.buttons_added .plus {
 padding: 7px 10px 8px;
 height: 41px;
 background-color: #ffffff;
 border: 1px solid #efefef;
 cursor:pointer;}

.quantity.buttons_added .minus {
 border-right: 0; }

.quantity.buttons_added .plus {
 border-left: 0; }

.quantity.buttons_added .minus:hover,
.quantity.buttons_added .plus:hover {
 background: #eeeeee; }

.quantity input::-webkit-outer-spin-button,
.quantity input::-webkit-inner-spin-button {
 -webkit-appearance: none;
 -moz-appearance: none;
 margin: 0; }
 
 .quantity.buttons_added .minus:focus,
.quantity.buttons_added .plus:focus {
 outline: none; }

